<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
</head>
<body>
    <h1>Attendance</h1>

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="status" value="{{ status }}">
        <input type="submit" value="{{ status_display }}">
    </form>
    <hr>

    <h1>My Attendances: </h1>
    <ul>
        
        {% for attendance in attendances %}
            <li>
                {{ attendance }} 
                <strong style="color: yellowgreen;">
                    {{ attendance.working_hours }}
                </strong>
            </li>
        {% endfor %}
            
    </ul>
</body>
</html>